@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    text-align: center;
    background-image: url('Images/dark-paths.png');
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-image: url('Images/3175990.jpg');
    color: black;
    padding: 10px;
}

header p {
    font-size: 16px;
}

.survey {
    position: relative;
    width: 80%;
    margin: 20px auto;
    background-image: url('Images/what-the-hex-dark.png');
    color: white;
    height: 200px;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}

.survey h3 {
    font-size: 20px;
    margin: 8px;
    padding-top: 10px;
}

.form-input {
    font-size: 20px;
    display: block;
    width: 70%;
    height: 2rem;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.next-button1 {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.next-button {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.next-button2 {
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.next-button3 {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.next-button4 {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.next-button5 {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.btn {
    font-size: 20px;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 70%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(25, 230, 25);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.end {
    width: 30%;
    height: 100px;
    position: absolute;
    top: 200px;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: royalblue;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


/* Display Change Properties */

.q1 {
    display: block;
}

.q2 {
    display: none;
}

.q3 {
    display: none;
}

.q4 {
    display: none;
}

.q5 {
    display: none;
}

.end {
    display: none;
}



